@charset "UTF-8";
body:after {
  display: block;
  height: 100vh;
  color: #222;
  font-size: 32px;
  line-height: 100vh;
  text-align: center;
  background-color: #ff0;
  content: "브라우저의 가로폭을 550이하로 줄여주세요";
}
@media screen and (max-width:550px) {
  body:after {
    display: none;
  }
}
body > #pc {
  display: none;
}
@media screen and (max-width:550px) {
  body > #pc {
    display: block;
    width: 100%;
    height: 100%;
  }
}
body > #pc.IndexPc {
  height: 850px;
}
body > #pc > #wrap {
  width: 500px;
}
body > #pc > #wrap > header {
  display: block;
  width: 100%;
  margin: 0 10px;
}
body > #pc > #wrap > header > .top > ul {
  position: relative;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
}
body > #pc > #wrap > header > .top > ul li:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
body > #pc > #wrap > header > .top > ul li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 22px;
}
body > #pc > #wrap > header > .top > ul li:nth-child(3) {
  position: absolute;
  top: 0;
  left: 52px;
}
body > #pc > #wrap > header > .top > ul li:nth-child(4) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
body > #pc > #wrap > header > .top > ul li:nth-child(5) {
  position: absolute;
  right: 23px;
  top: 0;
}
body > #pc > #wrap > header > .top > ul li:nth-child(6) {
  position: absolute;
  right: 0;
  top: 0;
}
body > #pc > #wrap > header > .friend {
  padding-left: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
}
body > #pc > #wrap > header > .friend > h1 {
  font-weight: 500;
}
body > #pc > #wrap > header > .friend > .right {
  display: flex;
  flex-flow: row nowrap;
}
body > #pc > #wrap > header > .friend > .right > p {
  font-size: 25px;
}
body > #pc > #wrap > header > .friend > .right > p:first-child {
  margin-right: 20px;
}
body > #pc > #wrap > header > .friend > .right > p:nth-child(2) > a:hover {
  color: red;
}
body > #pc > #wrap > header > .friend.talkTop {
  padding-right: 5px;
  font-size: 12px;
}
body > #pc > #wrap > header > .friend.talkTop > h1 > a > span {
  margin-left: 10px;
}
body > #pc > #wrap > header > .friend.talkTop > h1 > a:hover {
  color: #ffda36;
}
body > #pc > #wrap > header > .friend.talkTop > .right > p {
  font-size: 22px;
}
body > #pc > #wrap > header > .friend.talkTop > .right > p:nth-child(2) > a:hover {
  color: #000;
}
body > #pc > #wrap > header > .chatting {
  padding-left: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
}
body > #pc > #wrap > header > .chatting > h1 {
  font-weight: 500;
}
body > #pc > #wrap > header > .chatting > h2 {
  text-indent: -110px;
  color: #ccc;
  font-size: 2em;
  font-weight: 500;
}
body > #pc > #wrap > header > .chatting > .right {
  display: flex;
  flex-flow: row nowrap;
}
body > #pc > #wrap > header > .chatting > .right > p {
  font-size: 25px;
}
body > #pc > #wrap > header > .chatting > .right > p:first-child {
  margin-right: 20px;
}
body > #pc > #wrap > header > .chatting > .right > p:nth-child(2) {
  margin-right: 20px;
}
body > #pc > #wrap > header > .chatting > .right > p:last-child > a:hover {
  color: red;
}
body > #pc > #wrap > header.find {
  display: flex;
  flex-direction: column;
}
body > #pc > #wrap > header.find > .findlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-bottom: 1px solid #ccc;
}
body > #pc > #wrap > header.find > .findlist > li > a {
  display: block;
  width: 100px;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
body > #pc > #wrap > header.find > .findlist > li > a > i {
  display: block;
  font-size: 40px;
}
body > #pc > #wrap > header.find > .findlist > li > a > span {
  display: block;
  margin-top: 10px;
  text-align: center;
}
body > #pc > #wrap > header > .settingh1 h1 {
  font-size: 24px;
  text-indent: -3px;
}
body > #pc > #wrap > header > .settingh1 h1 > a:hover {
  color: rgb(255, 221, 2);
}
body > #pc > #wrap > header > .settingh1 h1 > a > span {
  margin-left: 10px;
}
body > #pc > #wrap > header > .settingh1 > .right {
  margin-right: -15px;
}
body > #pc > #wrap > section {
  display: block;
  width: 100%;
  margin-left: 20px;
  margin-right: 40px;
}
body > #pc > #wrap > section > .me {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
body > #pc > #wrap > section > .me > img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
body > #pc > #wrap > section > .me > h2 {
  margin-left: 20px;
  line-height: 23px;
  font-weight: 500;
}
body > #pc > #wrap > section > .me > h2 > span {
  display: block;
  font-size: 13px;
  font-weight: 500;
}
body > #pc > #wrap > section > .birth {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
body > #pc > #wrap > section > .birth > h2 {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 10px;
}
body > #pc > #wrap > section > .birth > p {
  font-size: 16px;
  font-weight: 500;
}
body > #pc > #wrap > section > .birth > p > img {
  width: 60px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 20px;
}
body > #pc > #wrap > section > .plus {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
body > #pc > #wrap > section > .plus h2 {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 10px;
}
body > #pc > #wrap > section > .plus > p {
  font-size: 16px;
  font-weight: 500;
}
body > #pc > #wrap > section > .plus > p > img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 20px;
}
body > #pc > #wrap > section > .favorites {
  padding-top: 25px;
}
body > #pc > #wrap > section > .favorites > h2 {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 10px;
}
body > #pc > #wrap > section > .favorites > ul > li {
  position: relative;
  margin-bottom: 20px;
}
body > #pc > #wrap > section > .favorites > ul > li > a {
  display: block;
  width: 450px;
  height: 60px;
}
body > #pc > #wrap > section > .favorites > ul > li > a > img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 20px;
}
body > #pc > #wrap > section > .favorites > ul > li > a > .name {
  position: absolute;
  top: 10px;
  left: 50px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}
body > #pc > #wrap > section > .favorites > ul > li > a > .text {
  position: absolute;
  top: 35px;
  left: 70px;
  color: #888;
  font-size: 14px;
}
body > #pc > #wrap > section > .favorites > ul > li > a > .date {
  position: absolute;
  top: 15px;
  right: 0;
  color: #888;
}
body > #pc > #wrap > section > .favorites > ul > li:hover {
  background-color: lightgoldenrodyellow;
}
body > #pc > #wrap > section > .favorites > ul > li > a > .one {
  position: absolute;
  right: 0;
  bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: red;
  border-radius: 10px;
}
body > #pc > #wrap > section > .chatSection {
  padding-top: -50px;
}
body > #pc > #wrap > section > .chatSection > h2 {
  text-indent: -9999px;
}
body > #pc > #wrap > section > .chatSection > ul > li {
  position: relative;
  margin-bottom: 20px;
}
body > #pc > #wrap > section > .chatSection > ul > li > a {
  display: block;
  width: 450px;
  height: 60px;
}
body > #pc > #wrap > section > .chatSection > ul > li > a > img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  border-radius: 20px;
}
body > #pc > #wrap > section > .chatSection > ul > li > a > .name {
  position: absolute;
  top: 10px;
  left: 50px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}
body > #pc > #wrap > section > .chatSection > ul > li > a > .text {
  position: absolute;
  top: 35px;
  left: 70px;
  color: #888;
  font-size: 14px;
}
body > #pc > #wrap > section > .chatSection > ul > li > a > .date {
  position: absolute;
  top: 15px;
  right: 0;
  color: #888;
}
body > #pc > #wrap > section > .chatSection > ul > li:hover {
  background-color: lightgoldenrodyellow;
}
body > #pc > #wrap > section > .chatSection > ul > li > a > .one {
  position: absolute;
  right: 0;
  bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: red;
  border-radius: 10px;
}
body > #pc > #wrap > section > .chatSection > ul > li:nth-child(2) {
  display: flex;
}
body > #pc > #wrap > section > .chatSection > ul > li:nth-child(2) > a > .img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 60px;
  height: 60px;
}
body > #pc > #wrap > section > .chatSection > ul > li:nth-child(2) > a > .img img {
  border-radius: 10px;
  width: 28px;
  height: 28px;
}
body > #pc > #wrap > section > .findSection > h2 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
}
body > #pc > #wrap > section > .findSection > ul > li {
  margin: 50px 0;
}
body > #pc > #wrap > section > .findSection > ul > li > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
body > #pc > #wrap > section > .findSection > ul > li > a > .user {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  font-size: 30px;
  text-align: center;
  border: 3px solid #000;
  border-radius: 50%;
}
body > #pc > #wrap > section > .findSection > ul > li > a > .text {
  font-size: 18px;
  font-weight: 500;
  text-indent: -180px;
}
body > #pc > #wrap > section > .findSection > ul > li > a > .plus {
  font-size: 20px;
}
body > #pc > #wrap > section > .findSection > ul > li > a:hover {
  background-color: lightgoldenrodyellow;
}
body > #pc > #wrap > section > .moreSection > ol {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
body > #pc > #wrap > section > .moreSection > ol > li {
  margin: 0 40px;
}
body > #pc > #wrap > section > .moreSection > ol > li > a {
  display: block;
  text-align: center;
}
body > #pc > #wrap > section > .moreSection > ol > li > a > i {
  font-size: 40px;
}
body > #pc > #wrap > section > .moreSection > ol > li > a > span {
  display: block;
  margin-top: 15px;
}
body > #pc > #wrap > section > .kakao {
  margin-top: 30px;
  border-top: 1px solid #ccc;
}
body > #pc > #wrap > section > .kakao > h2 {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
}
body > #pc > #wrap > section > .kakao > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
body > #pc > #wrap > section > .kakao > ul > li {
  margin: 0 40px;
}
body > #pc > #wrap > section > .kakao > ul > li > a {
  display: block;
  text-align: center;
}
body > #pc > #wrap > section > .kakao > ul > li > a > i {
  width: 55px;
  height: 55px;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  background-color: rgb(255, 221, 2);
  border-radius: 8px;
}
body > #pc > #wrap > section > .kakao > ul > li > a > span {
  display: block;
  margin-top: 15px;
}
body > #pc > #wrap > section > .settingList > ul > li {
  margin: 25px 0;
}
body > #pc > #wrap > section > .settingList > ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
}
body > #pc > #wrap > section > .settingList > ul > li > a:hover {
  background-color: lightgoldenrodyellow;
}
body > #pc > #wrap > section > .settingList > ul > li > a > i {
  margin: 0 20px;
}
body > #pc > #wrap > section.talkSection {
  width: 100vw;
  height: 100vh;
  margin-left: 0;
  background-color: #bacee0;
}
body > #pc > #wrap > section.talkSection > h2 {
  text-indent: -9999px;
}
body > #pc > #wrap > section.talkSection div {
  position: relative;
}
body > #pc > #wrap > section.talkSection div > p.day {
  position: absolute;
  top: 25px;
  left: 50%;
  width: 180px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  background-color: #fff;
  transform: translate(-55%, 0);
  border-radius: 50px;
  box-shadow: 2px 2px 10px #a3a3a3;
}
body > #pc > #wrap > section.talkSection div > p.day2 {
  top: 410px;
}
body > #pc > #wrap > section.talkSection div > p.people {
  display: flex;
  position: absolute;
  top: 100px;
  left: 25px;
}
body > #pc > #wrap > section.talkSection div > p.people > span {
  position: absolute;
  left: 60px;
}
body > #pc > #wrap > section.talkSection div > p.people > span.name {
  width: 50px;
  font-size: 15px;
}
body > #pc > #wrap > section.talkSection div > p.people > span.say {
  top: 25px;
  width: 100px;
  height: 50px;
  font-size: 18px;
  font-weight: 380;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 2px 2px 10px #b1b1b1;
}
body > #pc > #wrap > section.talkSection div > p.people2 {
  top: 130px;
  left: 25px;
}
body > #pc > #wrap > section.talkSection div > p.people2 > span.say {
  width: 50px;
}
body > #pc > #wrap > section.talkSection div > p.people3 {
  top: 450px;
  left: 25px;
}
body > #pc > #wrap > section.talkSection div > p.people3 > span.say {
  width: 220px;
}
body > #pc > #wrap > section.talkSection div > p.people4 > span.say {
  width: 250px;
}
body > #pc > #wrap > section.talkSection div > p.people5 > span.name {
  width: 70px;
  font-size: 15px;
}
body > #pc > #wrap > section.talkSection div > p.people5 > span.say {
  top: 25px;
  width: 50px;
}
body > #pc > #wrap > section.talkSection div > p.people6 {
  top: 250px;
  left: 25px;
}
body > #pc > #wrap > section.talkSection div > p.people6 > span.name {
  width: 70px;
  font-size: 15px;
}
body > #pc > #wrap > section.talkSection div > p.people6 > span.say {
  top: 25px;
  width: 100px;
}
body > #pc > #wrap > section.talkSection div > p.people7 > span.emoticon {
  top: 230px;
  width: 100px;
}
body > #pc > #wrap > section.talkSection div > p.people8 > span.emoticon {
  top: 330px;
  width: 100px;
}
body > #pc > #wrap > section.talkSection div > p.people9 > span.emoticon {
  top: 440px;
  width: 100px;
}
body > #pc > #wrap > section.talkSection div > p.people10 {
  top: 660px;
}
body > #pc > #wrap > section.talkSection div > p.people10 > span.name {
  width: 70px;
  font-size: 15px;
}
body > #pc > #wrap > section.talkSection div > p.people10 > span.say {
  top: 25px;
  width: 220px;
}
body > #pc > #wrap > section.talkSection div > p > img {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
body > #pc > #wrap > section.talkSection div > p.meSay {
  position: absolute;
  top: 200px;
  right: 60px;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 380;
  line-height: 50px;
  text-align: center;
  background-color: #fde36e;
  border-radius: 13px;
  box-shadow: 2px 2px 10px #b1b1b1;
}
body > #pc > #wrap > section.talkSection div > p.meSay2 {
  top: 90px;
}
body > #pc > #wrap > section.talkSection div > p.meSay3 {
  top: 220px;
}
body > #pc > #wrap > section.talkSection div > p.meSay4 {
  top: 200px;
  display: flex;
  align-items: center;
  height: 80px;
  line-height: 30px;
  text-align: left;
}
body > #pc > #wrap > section.talkSection div > p.meSay5 {
  top: 300px;
}
body > #pc > #wrap > section.talkSection div > p.meSay6 {
  top: 370px;
}
body > #pc > #wrap > section.talkSection div > p.meSay7 {
  top: 440px;
}
body > #pc > #wrap > section.talkSection div > p.meSay8 {
  top: 510px;
}
body > #pc > #wrap > section.talkSection div > p.meSay9 {
  top: 580px;
}
body > #pc > #wrap > section.talkSection div > p.meSay10 {
  top: 650px;
}
body > #pc > #wrap > section.talkSection div > p.emoticon {
  position: absolute;
  top: 280px;
  right: 60px;
}
body > #pc > #wrap > section.talkSection div > p.emoticon > img {
  width: 120px;
  height: 120px;
}
body > #pc > #wrap > footer {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@keyframes aninav {
  0% {
    transform: translate(0, 70px);
  }
  100% {
    transform: translate(0, 0);
  }
}
body > #pc > #wrap > footer > nav {
  animation: aninav 0.8s ease-out forwards 0.8s;
}
body > #pc > #wrap > footer > nav > ol {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 25px;
  line-height: 70px;
  background-color: #eee;
  border-top: 1px solid #ccc;
}
body > #pc > #wrap > footer > nav > ol > li > a {
  height: 70px;
}
body > #pc > #wrap > footer > nav > ol > li:hover > a {
  color: palevioletred;
}
body > #pc > #wrap > footer > nav > ol > li:nth-child(2) {
  position: relative;
}
@keyframes anione {
  0% {
    transform: translate(0, 5px);
  }
}
body > #pc > #wrap > footer > nav > ol > li:nth-child(2) > a > span.one {
  position: absolute;
  left: 8px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: red;
  border-radius: 10px;
  animation: anione 0.5s ease-in-out infinite alternate forwards;
}
body > #pc > #wrap > footer > .writeBox {
  height: 100px;
  transition: all 0.5s ease-in-out;
}
body > #pc > #wrap > footer > .writeBox:hover {
  height: 420px;
}
body > #pc > #wrap > footer > .writeBox > p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60px;
  font-size: 22px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
body > #pc > #wrap > footer > .writeBox > p > span:nth-child(1) {
  margin-left: -150px;
}
body > #pc > #wrap > footer > .writeBox > p > span:nth-child(3) {
  margin-right: -360px;
}
body > #pc > #wrap > footer > .writeBox > p > span:nth-child(4) {
  margin-right: -130px;
}
body > #pc > #wrap > footer > .writeBox > p > input {
  position: absolute;
  top: 21px;
  left: 70px;
  padding-right: 150px;
  border: none;
  outline: none;
}
body > #pc > #wrap > footer > .writeBox > p > img {
  display: block;
  margin-top: 300px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */